@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.header {
  padding: 20px 0;
  -webkit-box-shadow: 5px 5px 10px -10px rgba(34, 60, 80, 0.45);
  box-shadow: 5px 5px 10px -10px rgba(34, 60, 80, 0.45);
}

@media (max-width: 560px) {
  .header {
    font-size: 0.65rem;
  }
}

.theme--light .header {
  background: white;
  color: #111517;
}

.theme--dark .header {
  background: #2b3945;
  color: white;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  font-weight: 800;
}

.header__theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header__theme-switch_title {
  margin-left: 15px;
  font-weight: 600;
}

.selector {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 560px) {
  .selector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.selector_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.3rem;
  height: 40px;
  width: 30%;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
}

@media (max-width: 1024px) {
  .selector_search {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .selector_search {
    width: 50%;
  }
}

@media (max-width: 560px) {
  .selector_search {
    width: 100%;
  }
}

.theme--light .selector_search {
  background: white;
}

.theme--dark .selector_search {
  background: #2b3945;
}

.theme--light .selector_search .fas {
  color: #858585;
}

.theme--dark .selector_search .fas {
  color: #d9d9d9;
}

.selector_search input {
  width: 80%;
  margin-left: 10px;
  font-weight: 300;
}

.theme--light .selector_search input {
  color: #858585;
}

.theme--dark .selector_search input {
  color: #d9d9d9;
}

.theme--light .selector_search input::-webkit-input-placeholder {
  color: #858585;
}

.theme--light .selector_search input:-ms-input-placeholder {
  color: #858585;
}

.theme--light .selector_search input::-ms-input-placeholder {
  color: #858585;
}

.theme--light .selector_search input::placeholder {
  color: #858585;
}

.theme--dark .selector_search input::-webkit-input-placeholder {
  color: #d9d9d9;
}

.theme--dark .selector_search input:-ms-input-placeholder {
  color: #d9d9d9;
}

.theme--dark .selector_search input::-ms-input-placeholder {
  color: #d9d9d9;
}

.theme--dark .selector_search input::placeholder {
  color: #d9d9d9;
}

.selector_filter {
  border-radius: 0.3rem;
  cursor: pointer;
  max-height: 40px;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  width: 170px;
}

@media (max-width: 560px) {
  .selector_filter {
    margin-top: 20px;
  }
}

.theme--light .selector_filter {
  background: white;
}

.theme--dark .selector_filter {
  background: #2b3945;
}

.selector_filter_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 20px;
  height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.theme--light .selector_filter_main {
  color: #111517;
}

.theme--dark .selector_filter_main {
  color: white;
}

.selector_filter_main .fas {
  margin-left: 10px;
  font-size: 9px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.selector_filter_main .active {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.selector_filter_dropdown {
  border-radius: 0.3rem;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  top: 5px;
  width: 100%;
  max-height: 0;
}

.theme--light .selector_filter_dropdown {
  background: white;
}

.theme--dark .selector_filter_dropdown {
  background: #2b3945;
}

.selector_filter_dropdown-item {
  cursor: pointer;
  margin-top: 10px;
}

.selector_filter_dropdown-item:hover {
  opacity: 0.9;
}

.theme--light .selector_filter_dropdown-item {
  color: #111517;
}

.theme--dark .selector_filter_dropdown-item {
  color: white;
}

.selector_filter_dropdown-item:last-child {
  margin-bottom: 10px;
}

.country-list {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 40px 50px;
}

@media (max-width: 1024px) {
  .country-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .country-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .country-list {
    margin-left: 30px;
    margin-right: 30px;

    grid-template-columns: repeat(1, 1fr);
  }
}

.country {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(27, 33, 37, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(27, 33, 37, 0.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
}

.theme--light .country {
  background: white;
  color: #111517;
}

.theme--dark .country {
  background: #2b3945;
  color: white;
}

.country:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.country_flag {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.country_content {
  padding: 20px 15px 35px 15px;
}

.country_content-title {
  font-weight: 800;
  margin-bottom: 20px;
}

.country_content-stat {
  font-weight: 600;
  margin-bottom: 7px;
}

.theme--light .country_content-stat {
  color: #111517;
}

.theme--dark .country_content-stat {
  color: white;
}

.country_content-stat-stat:last-child {
  margin-bottom: 0;
}

.country_content-stat-value {
  font-weight: 300;
}

.go-back {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  margin: 50px 0;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 0.3rem;
}

.theme--light .go-back {
  background: white;
  color: #858585;
}

.theme--dark .go-back {
  background: #2b3945;
  color: #d9d9d9;
}

.go-back .fas {
  margin-right: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.content .flag {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(27, 33, 37, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(27, 33, 37, 0.1);
  width: 45%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .content .flag {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .content .flag {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .content .flag {
    width: 100%;
  }
}

.details {
  width: 47%;
}

@media (max-width: 1024px) {
  .details {
    margin-top: 40px;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .details {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .details {
    width: 100%;
  }
}

.theme--light .details {
  color: #111517;
}

.theme--dark .details {
  color: white;
}

.details-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.details-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .details-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.details-stats_main div {
  margin-bottom: 15px;
}

.details-stats_main div:last-child {
  margin-bottom: 0;
}

.details-stats_secondary {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .details-stats_secondary {
    margin-left: 0;
    margin-top: 40px;
  }
}

.details-stats_secondary div {
  margin-bottom: 15px;
}

.details-stats_secondary div:last-child {
  margin-bottom: 0;
}

.border-countries {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 560px) {
  .border-countries {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.border-countries_title {
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 20px;
}

.border-countries_values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 560px) {
  .border-countries_values {
    margin: 20px 0;
  }
}

.border-countries_values-item {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  box-shadow: 0px 0px 6px 3px rgba(36, 51, 62, 0.05);
  padding: 7px 20px;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

.theme--light .border-countries_values-item {
  background: white;
}

.theme--dark .border-countries_values-item {
  background: #2b3945;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  min-height: 100vh;
}

.theme--light .wrapper {
  background: #fafafa;
}

.theme--dark .wrapper {
  background: #202c37;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
